body{
    background-color: #24292F;
}
nav{
    height: 95px;
    width: 100%;
    background-color: #1a1e22;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.144);
    position: relative;
}
nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-right: 28px;
    margin-top: 18px;
    display: block;
}
nav ul li ul{
    display: none;
    position: absolute;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li a{
    color: white;
    font-size: 18px;
    padding: 10px 0px;
}
nav img{
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%); 
    margin-left: 20px;
}
.link:hover{
    cursor: pointer;
}
footer{
    height: 95px;
    width: 100%;
    background-color: #1a1e22;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.144);
    position: relative;
    margin-top: 50px;
}
footer ul{
    float: left;
}
footer ul li{
    float: left;
    list-style: none;
    position: relative;
}
footer ul li a{
    font-family: sans-serif;
    color: gray;
    font-size: 20px;
    text-decoration: none;
    margin-right: 28px;
    margin-top: 18px;
    display: block;
}
footer ul li ul{
    display: none;
    position: absolute;
}
footer ul li:hover ul{
    display: block;
}
footer ul li ul li a{
    color: white;
    font-size: 18px;
    padding: 10px 0px;
}
footer img{
    height: 45px;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%); 
    margin-left: 20px;
}
.pres{
    margin-top: 25px;
    background-color: #1b2024;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.144);
    padding: 5px 0px;
}
.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.content{
    font-family: sans-serif; color: white;font-size: 20px;
}
.box{
    margin-left: 20%;
    margin-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
}
.imgas{
    width: 700px;
}
.btn {
    background-color: rgb(255, 30, 30);
    margin-top: 80px;
    margin: 10px;
    border: none;
    color: white;
    padding: 12px 12px;
    cursor: pointer;
    font-size: 20px; 
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(225, 65, 65);
  }